@import url("https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300&display=swap");

a:active,
:visited {
  color: black;
}

body {
  margin: 0;
  height: 100vh;
}

header {
  height: 8%;
  border-bottom: 1px solid black;
}
nav {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}
#page-img {
  height: 100%;
  width: 15%;
  border-right: 1px solid black;
}
#page-logo {
  width: 100%;
}
#page-name {
  height: 100%;
  width: 20%;
  border-right: 1px solid black;
}
#page-title {
  margin: 0;
  width: 100%;
  text-align: center;
  font-size: 1.3rem;
  font-family: "Cormorant SC", serif;
}
#nav-options {
  height: 100%;
  width: 50%;
}
#nav-options-ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  justify-content: space-evenly;
  list-style-type: none;
}

#container {
  display: flex;
  flex-direction: row;
  height: 100%;
}
#first-section {
  width: 20%;
  height: 100%;
  border-right: 1px solid black;
}
#first-section p {
  text-align: center;
}
#add-game-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text-input {
  width: 70%;
}
#radio-input-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
#game-add-button {
  width: 70%;
  margin-top: 5px;
}
#second-section {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100%;
}
#first-subsection {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid black;
  width: 100%;
  height: 20%;
}
#mensajito {
  height: 100%;
  width: 50%;
  text-align: center;
}
#cards-filter {
  height: 100%;
  width: 50%;
}
.card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 5px;
  width: 100%;
  height: 20%;
  border: 0.5px solid black;
}

.card-image {
  height: 100%;
  width: 25%;
}
.cover-image {
  height: 100%;
  width: 100%;
}
.card-name {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 25%;
}
.card-dlc {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 25%;
}
.card-compra {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 25%;
}

#second-subsection {
  width: 90%;
  height: 80%;
  padding: 5px;
  overflow: scroll;
}

#logInForm {
  margin: 100px;
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  border: 1px solid black;
  height: 50%;
  width: 70%;
  box-shadow: 7px 7px 7px 1px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 7px 7px 7px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 7px 7px 7px 1px rgba(0, 0, 0, 0.5);
  background-image: url("src/img/formBackground.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
#formInputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
}
.inputDiv {
  display: flex;
  flex-direction: column;
}
h4 {
  margin: 0;
}
#imageDiv {
  width: 70%;
}
#divImage {
  width: 90%;
}
